.subnav-container {
    position: relative;
    display: flex;
    align-items: center;
}

.subnav-container button {
    height: 37px;
    position: absolute;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 7px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
}

.subnav-container button:hover {
    background-color: rgb(44, 43, 43);
}